.midnight_runners {
  background-color: black; }
  .midnight_runners .hero {
    height: 488px;
    margin: 0px !important;
    background-position: center top; }
    @media only screen and (max-width: 768px) {
      .midnight_runners .hero {
        height: 450px; } }
    @media only screen and (max-width: 414px) {
      .midnight_runners .hero {
        background-position: -250px 0px;
        background-size: 190%;
        height: auto; } }
    .midnight_runners .hero .hero-content {
      border: 3px solid #fff; }
    .midnight_runners .hero .hero__inner {
      height: inherit; }
      @media only screen and (max-width: 414px) {
        .midnight_runners .hero .hero__inner {
          width: calc(100%);
          padding-top: 100px;
          height: auto;
          display: flex;
          justify-content: center; } }
    .midnight_runners .hero .hero__inner__content {
      background-image: none;
      width: 460px;
      height: auto;
      top: 70px;
      left: 150px;
      background-size: contain;
      background-color: transparent !important; }
      @media only screen and (max-width: 1024px) {
        .midnight_runners .hero .hero__inner__content {
          left: 100px; } }
      @media only screen and (max-width: 768px) {
        .midnight_runners .hero .hero__inner__content {
          padding-top: 0px;
          left: 0px;
          top: 20px; } }
      @media only screen and (max-width: 414px) {
        .midnight_runners .hero .hero__inner__content {
          max-width: 330px;
          width: 100%;
          left: 0px;
          right: 0px;
          top: 0px;
          padding: 0px;
          margin-top: 70px; } }
      .midnight_runners .hero .hero__inner__content p {
        margin: 0px; }
  .midnight_runners .two_column {
    background-color: black;
    overflow: hidden;
    padding: 70px 0px 30px 0px;
    margin-bottom: 0px;
    color: white; }
    @media only screen and (max-width: 768px) {
      .midnight_runners .two_column {
        padding-top: 0px; } }
    .midnight_runners .two_column .image {
      display: none !important; }
    .midnight_runners .two_column h2, .midnight_runners .two_column p {
      color: white;
      text-align: center;
      max-width: 460px;
      margin: 0px auto 10px auto; }
    .midnight_runners .two_column p {
      line-height: 140%; }
    .midnight_runners .two_column h2 {
      font-size: 33px;
      color: #E9E9D9;
      margin: 30px auto;
      letter-spacing: 2.33px;
      line-height: 130%; }
      @media only screen and (max-width: 414px) {
        .midnight_runners .two_column h2 {
          font-size: 30px;
          letter-spacing: 0px; } }
    .midnight_runners .two_column .col--right {
      margin-left: 0px;
      max-width: 580px; }
      @media only screen and (max-width: 768px) {
        .midnight_runners .two_column .col--right {
          width: 100%; } }
      .midnight_runners .two_column .col--right h3, .midnight_runners .two_column .col--right .form__form-item__label {
        display: none !important; }
      .midnight_runners .two_column .col--right .form__form-item .text, .midnight_runners .two_column .col--right .form__form-item .email, .midnight_runners .two_column .col--right .form__form-item .textarea {
        border: 1px solid #E6E6E6;
        background-color: transparent;
        box-shadow: inset 0px 0px 0px 0 #E6E6E6;
        color: white; }
      .midnight_runners .two_column .col--right .form__form-item .text:focus, .midnight_runners .two_column .col--right .form__form-item .email:focus {
        height: 45px;
        line-height: 47px; }
      .midnight_runners .two_column .col--right .form__form-item__text, .midnight_runners .two_column .col--right .form__form-item__email {
        float: left;
        margin: 0px 15px 0px 0px;
        width: calc(50% - 15px); }
        @media only screen and (max-width: 768px) {
          .midnight_runners .two_column .col--right .form__form-item__text, .midnight_runners .two_column .col--right .form__form-item__email {
            margin: 0px 15px 0px 15px;
            width: calc(100% - 30px); } }
      .midnight_runners .two_column .col--right .form__form-item__textarea {
        width: calc(100% - 15px);
        display: block;
        margin: 0px 15px 0px 0px;
        clear: both;
        border-bottom: 1px solid rgba(230, 230, 230, 0.6);
        padding-bottom: 10px; }
        @media only screen and (max-width: 768px) {
          .midnight_runners .two_column .col--right .form__form-item__textarea {
            margin: 0px 15px 0px 15px;
            width: calc(100% - 30px); } }
      .midnight_runners .two_column .col--right .checkbox-container__label {
        display: block !important;
        color: #E9E9D9;
        font-size: 14px; }
      .midnight_runners .two_column .col--right .form__inner {
        position: relative; }
        .midnight_runners .two_column .col--right .form__inner .form__form-item__button {
          width: 225px;
          position: absolute;
          bottom: 015px;
          right: 15px; }
          @media only screen and (max-width: 1250px) {
            .midnight_runners .two_column .col--right .form__inner .form__form-item__button {
              position: inherit; } }
          @media only screen and (max-width: 768px) {
            .midnight_runners .two_column .col--right .form__inner .form__form-item__button {
              margin-left: 15px;
              width: calc(100% - 30px); } }
      .midnight_runners .two_column .col--right .form .form__form-item__button button {
        height: 47px;
        width: 100%;
        border-radius: 0px;
        border: none;
        background-color: #ab2328;
        color: #fff;
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 47px; }
        .midnight_runners .two_column .col--right .form .form__form-item__button button:hover {
          background-color: rgba(171, 35, 40, 0.7); }
      .midnight_runners .two_column .col--right .form__form-item__input .checkbox-container, .midnight_runners .two_column .col--right .form__form-item__input .radio-container {
        color: white; }
  @media only screen and (max-width: 768px) {
    .midnight_runners .two_column__inner {
      display: flex;
      flex-wrap: wrap; }
      .midnight_runners .two_column__inner .col--right {
        order: 2;
        margin: 0px auto; }
      .midnight_runners .two_column__inner .col--left {
        margin: 0 15px 20px 15px; } }
    @media only screen and (max-width: 768px) and (max-width: 414px) {
      .midnight_runners .two_column__inner .col--left {
        margin: 0px auto;
        width: calc(100% - 30px); } }
  @media only screen and (max-width: 768px) {
      .midnight_runners .two_column__inner .form__form-item__checkbox {
        margin-left: 15px; } }
