html { 
	font-size: 62.5%;		
}
body {
    color: $black;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: $body-font-family;
		line-height: 180%;
		background-color: $bg-gray;
		font-weight: 400;
}

body,div,p,li,ul,h1,h2,h3, header,footer{
  margin: 0px;
  padding: 0px;
}


.shadow-r {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=180, Color=#000000)";/*IE 8*/
box-shadow: 11px 0 15px -15px #a5a2a2;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.shadow-l {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=180, Color=#000000)";/*IE 8*/
box-shadow: -11px 0 15px -15px #a5a2a2;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color=#000000); /*IE 5.5-7*/
}


h1{
	font-size: 2.4rem;
	line-height: 1.4;
	font-weight: 700;
}

h2 {
	font-size: 1.8rem;
	font-weight: 500;
}

h3 {
	font-size: 1.4rem;
	font-weight: 300;
}

h4 {
	font-size: 1.4rem;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 10px;
}


a {
  color: $black;
  cursor: pointer;
	text-decoration: none;
}

a:hover, a:focus {
	color: $black;
	text-decoration: none;
}

 *:focus,.btn:focus,a:focus {
  outline: 0px;
	outline: none;
}

::-webkit-input-placeholder { color: #b1b1b1; }
::-moz-placeholder {  color: #b1b1b1; }
:-ms-input-placeholder {  color: #b1b1b1; }
input:-moz-placeholder { color: #b1b1b1; }

.marginT10{
	margin-top: 10px;
}

.marginT30{
	margin-top: 30px;
}

.red {
	color: $red;
}
