.site-branding {
	width: 50%;
  height: 100vh;
	color: $black;
	background-color: #F4F4F4;
	
	a {
			opacity: 0.5;
	}
}

.blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	
	.block.half {
		min-width: 50%; 
		flex: 1 1 50%;
	}
}

.site-branding {
	.blocks {	
		height: 100%;
	}
}
	
.blocks.align-center {
	align-items: center;
}

.block {
	flex: 1;
	position: relative;
  overflow: hidden;
  z-index: 1;
}

.content {
	  width: 80%;
    margin: 0 auto;
    height: auto;
    display: block;
    z-index: 1;
    position: relative;
}

.home.content {
	width: 70%;
}

.site-title {
	font-size: 2.2rem;
	font-weight: 700;
	text-transform: none;
	color: $red !important;
}

body.has-header-image .site-description {
	font-size: 6rem; 
	font-weight: 700;
  letter-spacing: 0.02em;
  text-align: left;
  line-height: 115%;
	color: $black;
	opacity: 1;
	max-width: 500px;
	margin-bottom: 50px;
	word-break:break-word;

}

.learn-more{
	  position: absolute;
    width: 0;
    height: 1em;
    margin: 0;
    left: 5.5vw;
    overflow: visible;
    white-space: nowrap;
    bottom: 20%;
    transform: rotate(90deg);
    font-weight: 400;
    letter-spacing: 0.05em;
		transition: all 2s cubic-bezier(0, 1, 0.5, 1);

	
	.icon-arrow-right {
		margin-left: 10px;
		
	}
}

.directional-link {
	right: 3%;
	display: inline-block;
	position: fixed;
  z-index: 1000;
  top: 50vh;
  cursor: pointer;
	white-space: nowrap;
	transform: translate(0, -50%);		
	transition: all 0.5s ease;
	color: $red;
	opacity: 1;
	font-weight: 400;
	
	&:hover {
		transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
    transform: translate(-10%, -50%);
		color: $red;
	}
	
	.icon-arrow-right {
		margin-left: 0.5em;
	}
}

header .title-page {
	color: $black;
	text-transform: uppercase;
	position: fixed;
	left: calc(50% - 20px);
  top: 45px;
	font-weight: 700;
  font-size: 2rem;
}

section {
	padding:10em 0;
	background: #fff;
  position: relative;
}

.content{
	 width: 80%;
    margin: 0 auto;
    height: auto;
    display: block;
    z-index: 1;
    position: relative;
}

.large-type {
	font-weight: 700;
  font-size: 6rem;
  margin-bottom: 0.3em;
	text-transform: none;
}

.scrolled {
	.directional-link {
		top: 4em;
		transform: translate3D(10%, -50%, 0);
		transition: all 1s cubic-bezier(0, 1, 0.5, 1);
		color: $black;
	}
}


.has-header-image .custom-header-media img {
	position: absolute;
}

.collapse {
		max-width: 0;
		transition: max-width 0.3s 0.2s cubic-bezier(0, 0, 0, 1);
		display: inline-block;
		
		i {
			opacity: 0;
			transform: translate(0, -5px);
		}
	}

header{
	width: 100%;
  position: fixed;
	display: block;
  top: 0;
  overflow: visible;
  left: 0%;
  z-index: 100000;
  color: #fff;
//  padding: 0 5% 5% 0;
//   transform: rotateZ(360deg);
}

	.blocks.vertical{
		margin-left: 30px;
	}
	.logo  {
		font-size: 3rem;
		font-weight: 700;
		padding: 1.5em 0 0;
		color: $black;
		display: inline-block;
		height: 24px;
		
		
		.collapse {
			max-width: 0;
			transition: max-width 0.3s 0.2s cubic-bezier(0, 0, 0, 1);
			max-height: 0;
			overflow: hidden;
			height: 24px;
			
			i {
				font-style: normal;

				&:nth-of-type(1) {
					transition: all 0.2s 0.15s linear;
				}
				
				&:nth-of-type(2){
					transition: all 0.2s 0.1s linear;
				}
			}
		}
		
		&:hover {
			.collapse {
				max-width: 100px;
				transition: max-width 0.3s cubic-bezier(0, 0, 0, 1);
				max-height: 100px;
				i {
					opacity: 1;
				}
			}
	 }
	}

header {
	background-color: $white;
//	min-height: 200px;
	color: $black;
	
	.logo {
		color: $red;
	}
	.page-title {
		text-align: center;
	}
}



.modal-move {
	transform: translate3D(0, 0, 0);
	transition: transform 0.8s cubic-bezier(0, 1, 0.5, 1),opacity 1.2s cubic-bezier(0, 1, 0.5, 1);
}

.blocks.vertical {
	flex-direction: column;
}

footer {
	padding-bottom: 50px;
	text-align: center;
}

.directional-link.detail {
	top: 65px;
  right: 6%;
	color: $black;
	
}

.home {
	.directional-link.detail{
		display: none;
	}
	
	header{
		max-width: 500px;
		.page-title {
			display: none;
		}
		background-color: transparent;
	}

	.logo {
	 color: $black;
	}
}

.page-title {
	font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 700;
	letter-spacing:0px;
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
}

.site-main {
	margin-top: 160px; 
}


.categories {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px auto;
	
	li {
		list-style: none;
		padding: 0px 20px;
		display: inline-block;
		&:first-child a{
			color: $red;
			font-weight: 600;
		}
	}
	
	.current-cat a {
		color: $red;
		font-weight: 600;
	}
}
.category {
	.categories li:first-child a{
			color: $black;
			font-weight: 400;
		}
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.card {
	margin-bottom: 4.375rem;
	display: block;
  position: relative;
  color: #fff;
  transition: box-shadow .3s,transform .3s,opacity .3s;
  background-color: #888;
  padding-bottom: 134%;
  overflow: hidden;
	
	&__classdojo {
		background-color:$bg-gray;
	}
	
	&__link, &__tags, .size-card__image,&__title {
		position: absolute;
		display: block;

	}
	
	&__title {
		top: 30px;
    left: 30px;
    right: 20px;
		text-transform: uppercase;
		color: $black;
		text-align: center;
	}
	
	&__link {
		position:absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		z-index: 5;
	}
	
	&__tags {
		font-size: 1.125rem;
    line-height: 1.75rem;
		bottom: 36px;
    left: 30px;
		z-index: 7;
		}
	
	.size-card__image{
		top: 0px;
		left: 0px;
	}
	
	&__tags {
		font-size:1.6rem;
		a {
			color: $white;
		}
	}
}


.pagination {
	font-size: 16px;
	font-weight: 600;
	.current {
		font-size: 16px;
	}
}

.black {
	.card__title,.card__tags a,.card__tags {
		color: #000;
	} 
}

.entry-footer {
	border: none;
	margin-top: 0px;
}

.post-navigation a:hover {
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 1);
}

.single {
	header {
		padding-bottom: 30px;
	}
	
	.site-main {
		margin-top: 130px; 
	}
	
	.card__title {
		font-size: 4rem;
	}

} 