@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");
html {
  font-size: 62.5%; }

body {
  color: #000;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 180%;
  background-color: #f2f2f2;
  font-weight: 400; }

body, div, p, li, ul, h1, h2, h3, header, footer {
  margin: 0px;
  padding: 0px; }

.shadow-r {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=180, Color=#000000)";
  /*IE 8*/
  box-shadow: 11px 0 15px -15px #a5a2a2;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color=#000000);
  /*IE 5.5-7*/ }

.shadow-l {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=180, Color=#000000)";
  /*IE 8*/
  box-shadow: -11px 0 15px -15px #a5a2a2;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color=#000000);
  /*IE 5.5-7*/ }

h1 {
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 700; }

h2 {
  font-size: 1.8rem;
  font-weight: 500; }

h3 {
  font-size: 1.4rem;
  font-weight: 300; }

h4 {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px; }

a {
  color: #000;
  cursor: pointer;
  text-decoration: none; }

a:hover, a:focus {
  color: #000;
  text-decoration: none; }

*:focus, .btn:focus, a:focus {
  outline: 0px;
  outline: none; }

::-webkit-input-placeholder {
  color: #b1b1b1; }

::-moz-placeholder {
  color: #b1b1b1; }

:-ms-input-placeholder {
  color: #b1b1b1; }

input:-moz-placeholder {
  color: #b1b1b1; }

.marginT10 {
  margin-top: 10px; }

.marginT30 {
  margin-top: 30px; }

.red {
  color: #FF1717; }

.site-branding {
  width: 50%;
  height: 100vh;
  color: #000;
  background-color: #F4F4F4; }
  .site-branding a {
    opacity: 0.5; }

.blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; }
  .blocks .block.half {
    min-width: 50%;
    flex: 1 1 50%; }

.site-branding .blocks {
  height: 100%; }

.blocks.align-center {
  align-items: center; }

.block {
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.content {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: block;
  z-index: 1;
  position: relative; }

.home.content {
  width: 70%; }

.site-title {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: none;
  color: #FF1717 !important; }

body.has-header-image .site-description {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: left;
  line-height: 115%;
  color: #000;
  opacity: 1;
  max-width: 500px;
  margin-bottom: 50px;
  word-break: break-word; }

.learn-more {
  position: absolute;
  width: 0;
  height: 1em;
  margin: 0;
  left: 5.5vw;
  overflow: visible;
  white-space: nowrap;
  bottom: 20%;
  transform: rotate(90deg);
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: all 2s cubic-bezier(0, 1, 0.5, 1); }
  .learn-more .icon-arrow-right {
    margin-left: 10px; }

.directional-link {
  right: 3%;
  display: inline-block;
  position: fixed;
  z-index: 1000;
  top: 50vh;
  cursor: pointer;
  white-space: nowrap;
  transform: translate(0, -50%);
  transition: all 0.5s ease;
  color: #FF1717;
  opacity: 1;
  font-weight: 400; }
  .directional-link:hover {
    transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
    transform: translate(-10%, -50%);
    color: #FF1717; }
  .directional-link .icon-arrow-right {
    margin-left: 0.5em; }

header .title-page {
  color: #000;
  text-transform: uppercase;
  position: fixed;
  left: calc(50% - 20px);
  top: 45px;
  font-weight: 700;
  font-size: 2rem; }

section {
  padding: 10em 0;
  background: #fff;
  position: relative; }

.content {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: block;
  z-index: 1;
  position: relative; }

.large-type {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 0.3em;
  text-transform: none; }

.scrolled .directional-link {
  top: 4em;
  transform: translate3D(10%, -50%, 0);
  transition: all 1s cubic-bezier(0, 1, 0.5, 1);
  color: #000; }

.has-header-image .custom-header-media img {
  position: absolute; }

.collapse {
  max-width: 0;
  transition: max-width 0.3s 0.2s cubic-bezier(0, 0, 0, 1);
  display: inline-block; }
  .collapse i {
    opacity: 0;
    transform: translate(0, -5px); }

header {
  width: 100%;
  position: fixed;
  display: block;
  top: 0;
  overflow: visible;
  left: 0%;
  z-index: 100000;
  color: #fff; }

.blocks.vertical {
  margin-left: 30px; }

.logo {
  font-size: 3rem;
  font-weight: 700;
  padding: 1.5em 0 0;
  color: #000;
  display: inline-block;
  height: 24px; }
  .logo .collapse {
    max-width: 0;
    transition: max-width 0.3s 0.2s cubic-bezier(0, 0, 0, 1);
    max-height: 0;
    overflow: hidden;
    height: 24px; }
    .logo .collapse i {
      font-style: normal; }
      .logo .collapse i:nth-of-type(1) {
        transition: all 0.2s 0.15s linear; }
      .logo .collapse i:nth-of-type(2) {
        transition: all 0.2s 0.1s linear; }
  .logo:hover .collapse {
    max-width: 100px;
    transition: max-width 0.3s cubic-bezier(0, 0, 0, 1);
    max-height: 100px; }
    .logo:hover .collapse i {
      opacity: 1; }

header {
  background-color: #FFF;
  color: #000; }
  header .logo {
    color: #FF1717; }
  header .page-title {
    text-align: center; }

.modal-move {
  transform: translate3D(0, 0, 0);
  transition: transform 0.8s cubic-bezier(0, 1, 0.5, 1), opacity 1.2s cubic-bezier(0, 1, 0.5, 1); }

.blocks.vertical {
  flex-direction: column; }

footer {
  padding-bottom: 50px;
  text-align: center; }

.directional-link.detail {
  top: 65px;
  right: 6%;
  color: #000; }

.home .directional-link.detail {
  display: none; }

.home header {
  max-width: 500px;
  background-color: transparent; }
  .home header .page-title {
    display: none; }

.home .logo {
  color: #000; }

.page-title {
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0px;
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px; }

.site-main {
  margin-top: 160px; }

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto; }
  .categories li {
    list-style: none;
    padding: 0px 20px;
    display: inline-block; }
    .categories li:first-child a {
      color: #FF1717;
      font-weight: 600; }
  .categories .current-cat a {
    color: #FF1717;
    font-weight: 600; }

.category .categories li:first-child a {
  color: #000;
  font-weight: 400; }

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.card {
  margin-bottom: 4.375rem;
  display: block;
  position: relative;
  color: #fff;
  transition: box-shadow .3s,transform .3s,opacity .3s;
  background-color: #888;
  padding-bottom: 134%;
  overflow: hidden; }
  .card__classdojo {
    background-color: #f2f2f2; }
  .card__link, .card__tags, .card .size-card__image, .card__title {
    position: absolute;
    display: block; }
  .card__title {
    top: 30px;
    left: 30px;
    right: 20px;
    text-transform: uppercase;
    color: #000;
    text-align: center; }
  .card__link {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 5; }
  .card__tags {
    font-size: 1.125rem;
    line-height: 1.75rem;
    bottom: 36px;
    left: 30px;
    z-index: 7; }
  .card .size-card__image {
    top: 0px;
    left: 0px; }
  .card__tags {
    font-size: 1.6rem; }
    .card__tags a {
      color: #FFF; }

.pagination {
  font-size: 16px;
  font-weight: 600; }
  .pagination .current {
    font-size: 16px; }

.black .card__title, .black .card__tags a, .black .card__tags {
  color: #000; }

.entry-footer {
  border: none;
  margin-top: 0px; }

.post-navigation a:hover {
  box-shadow: inset 0 0 0 transparent, 0 1px 0 black; }

.single header {
  padding-bottom: 30px; }

.single .site-main {
  margin-top: 130px; }

.single .card__title {
  font-size: 4rem; }
